.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:hover{
  cursor: pointer;
  text-decoration:none!important;
}

button:focus {
  outline: 0!important;
}

.form {
  width: 300px;
}

.submit-form{
  background-color: red;
}

.form-content{
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-around;

}
.m-t-10{
  margin-top: 10px;
}
.m-r-10{
  margin-right: 10px;
}
.h-10{
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-50{
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-90{
  height: 90%;
}
.h-80 {
  height: 80%;
}
.h-300-px {
  height: 300px;
}
.h-100-px {
  height: 100px;
}
.w-70 {
  width: 70%;
}
.p-0{
  padding: 0;
}
.b-radius-25{
  border-radius: 25px!important;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 0;
}
.fileContainer{
  margin: 0!important;
}
.button-primary{
  border-radius: 25px;
  background-color: transparent;
  border: none;

}
.button-primary:hover{
}
